{% extends "BlogJay/base.html" %}
{% block title %}
    Reset Password
{% endblock %}

{% block css %}

{% endblock %}

{% block content %}

{% if form.errors %}
    <h1 style="color: red">{{form.errors}}</h1> 
{% endif %}

<h1>Password Reset</h1>
<p>Give us the email associated with your account and we will send you instructions for setting a new password</p>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Send Email</button>
</form>

{% endblock %}