{% extends "BlogJay/base.html" %}
{% load static %}
{% block title %}
    BlogPost
{% endblock %}
{% block css %}
<link href="{% static 'css/blogpost.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="blog-post">
        <h1>{{ post.title }}</h1>
        <p>
            by: <a href="{% url 'userpage' username=post.author.username %}">{{ post.author }}</a>, {{ post.created_at|date:"l, M j Y" }}
            {% if user == post.author %}<a href="{% url 'editpost' id=post.id %}">(EDIT POST)</a>{% endif %}
        </p>
        {% if post.image %}<img src="{{ post.image.url }}" style="max-width: 300px; max-height: 300px;"> {% else %} NO IMAGE {% endif %}
        <h3>{{ post.content }}</h3>
    </div>

    {% if user.is_superuser %}
        <button type="button" onclick="openForm()">DELETE POST</button>
        <div id="deleteform" style="display: none">
            <h1>ARE YOU SURE???</h1>
            <a href="{% url 'deletepost' id=post.id %}">
                <button type="button">yes bro</button>
            </a>
            <button type="button" onclick="closeForm()">nawh bruh</button>
        </div>
    {% endif %}

    <div class="comments">

        <hr>
        <h1> Comments </h1>

        <div class="leave-comment">
            {% if user.is_authenticated %}
            <h2>leave a comment</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.content }}
                <br>
                <button type="Submit">Post Comment</button>
            </form>
            {% else %}
                <p><a href="{% url 'login' %}">login</a> to add a comment</p>
            {% endif %}
        </div>


        {% for comment in comments %}
        <div class="comment">
            <p>
                <b><a href="{% url 'userpage' username=comment.author.username %}">{{ comment.author.username }}</a></b>
                <span class="tiny">
                    <i>{{ comment.created_at }}</i>
                    {% if comment.author == user %}
                        <a href="{% url 'editcomment' id=comment.id %}">Edit</a>
                    {% endif %}
                    &nbsp;
                    {% if comment.author == user or user.is_superuser %}
                        <a href="{% url 'deletecomment' id=comment.id %}">Delete</a>
                    {% endif %}
                    &nbsp;
                    {% if comment.edited %}(edited){% endif %}
                </span><br>
            </p>
            <p class="indented">
                {{ comment.content }}
            </p>
        </div>
        {% empty %}
            no comments on this post yet
        
        {% endfor %}

        {% if form.errors %}
            <h1 style="color: red">{{form.errors}}</h1> 
        {% endif %}
    </div>
{% endblock %}

{% if user.is_superuser %}
{% block script %}
<script>
    function openForm(){
        document.getElementById("deleteform").style.display = "block";
    }
    function closeForm(){
        document.getElementById("deleteform").style.display = "none";
    }
</script>
{% endblock %}
{% endif %}
